@{
    ViewData["Title"] = "About Us";
}

<style>
    h1 {
        margin-top: 25px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">About Us</h1>
    <p>Everything you need to know about Us!</p>

</div>

<div class="imageJames">
    <div class="image-container">
        <img src="~/lib/images/James.png" alt="Image">
    </div>
    <div class="text-container">
        <p>
            Welcome to KhumaloCrafts, where passion meets artistry in a celebration of <br />
            handmade excellence. Our journey began with a simple yet profound vision: <br />
            to showcase the exquisite craftsmanship of local artisans and foster connections <br /> 
            that transcend borders. Founded by James Khumalo, KhumaloCrafts is more <br />
            than just a marketplace; it's a testament to the beauty of 
            human creativity and tradition. <br />
            From intricately woven textiles to meticulously crafted sculptures, each piece tells a story of <br />
            cultural heritage and dedication. Join us as we embark on a journey to celebrate <br />
            art, empower artisans, and connect communities worldwide.
        </p>
    </div>
</div>
