
@{
    ViewData["Title"] = "Contact Us";
}

<style>
    h1 {
        margin-top: 25px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
    <p>All our information to contact us.</p>
    <br />
    <br />
</div>


<div class="imageMaps">
    <div class="image-container">
        <img src="~/lib/images/Location.png" alt="Image">
    </div>
    <div class="text-container">
        <p>
            Thank you for considering KhumaloCrafts. Whether you have inquiries, <br />
            feedback, or simply want to explore our offerings further, we're here to <br />
            assist you. You can reach us via email at info@kumcrafts.co.za or give us <br />
            a call at 0817730879. For a more personal touch, you can visit our in-person <br />
            location at Bulumko Art, as seen in the image. We look forward to connecting <br />
            with you and sharing the beauty of handcrafted artistry.
        </p>
    </div>
</div>
