@{
    ViewData["Title"] = "Home";
}

<style>
    img
    {
        margin-top: 25px;
    }
</style>

<div class="text-center">
    <img src="~/lib/images/logo.png" alt="Image" width="150" height="150">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>KhumaloCraft <br /> At KhumaloKraft, artisans find more than just a platform; 
        they discover a supportive community that values their unique skills and cultural heritage. 
        From intricately woven textiles to <br />finely carved sculptures, 
        each piece tells a story of tradition, passion, and creativity.
        By bridging the gap between artisans and art enthusiasts, 
        KhumaloKraft fosters meaningful connections <br /> that transcend geographic boundaries.
    </p>

    <br />
    <br />

    <img src="~/lib/images/dog.png" alt="Image" width="250" height="250"> <img src="~/lib/images/boat.png" alt="Image" width="250" height="250"> <img src="~/lib/images/plane.jpg" alt="Image" width="250" height="250"> <img src="~/lib/images/racecar.png" alt="Image" width="250" height="250">
    <br />
    <p>Made by Local Artists</p>


</div>
